$present-head: 24px;
$present-text-size: 16px;
$text-color: #2C3E50;

.presentation__content {
    position: relative;
}

.swiper-presentation-content {
    display: flex;
    max-width: 1250px;
    min-width: 320px;
}

.slide__wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-top: 47px;
}

.presentation__img {
    display: flex;
    position: relative;
}

.presentation__text {
    display: flex;
    flex-flow: column;
    width: 606px;
    padding-top: 68px;
    padding-left: 80px;

    .presentation__title {
        font-size: $present-head;
        margin: 0;
        letter-spacing: 0.6px;
    }
    .presentation__subtitle {
        padding-top: 5px;
        margin: 0;
        font-size: $present-text-size;
    }

    .presentation__discript {
        padding-top: 5px;
        font-size: $present-text-size;
        color: $text-color;
        line-height: 140%;
    }
}

.present__img {
    position: absolute;
    top: -47px;
    right: 0;
}

.presentation__navigate {
    position: absolute;
    bottom: 0;
    left: 50px;
    .presentation-button-prev{
        position: static;
        background-image: url('../img/arrow.png');
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(180deg);
        width: 30px;
        height: 20px;
        outline: none;
        border: none;
        cursor: pointer;
    }
    .presentation-button-next {
        position: static;
        background-image: url('../img/arrow.png');
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(180deg);
        width: 30px;
        height: 20px;
        outline: none;
        border: none;
        cursor: pointer;
    }
}

@media (max-width: 992px) {
    .slide__wrapper {
        flex-flow: column;
        justify-content: center;
        place-items: center;
    }
    .presentation__text {
        padding-bottom: 53px;
    }
    .presentation__img {
        justify-content: flex-end;
    }
    // .present__vector {
    //     width: 300px;
    //     height: auto;
    //     height: auto;
    // }
    // .present__img {
    //     width: 300px;
    //     height: auto;
    //     position: absolute;
    //     top: -47px;
    //     right: 0;
    // }
}
