@import 'slides';
@import 'activity';
@import 'presentation';

$general-text-size: 16px;
$general-color: #2C3E50;
$head-text-size: 24px;
$adaptive-text-size: 14px;

html,
body {
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
}

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/9412.ttf") format("truetype");
}

.hide {
  display: none;
}


.wrapper {
  position: relative;
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

/*header*/

.header {
  background-color: rgba(245, 245, 245, 0.9);
}

.header__img-block {
  // background-image: url('/src/assets/img/bck-head.png');
  // background-repeat: no-repeat;
  position: relative;
  display: flex;
}

.header__vector {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.header__about {
  display: flex;
  flex-flow: column;
  padding: 94px 0 0 76px;
  width: 365px;
}

.about__img {
  width: 325px;
  height: auto;
}

.about__discript {
  padding: 42px 0 50px 0;
}

.about__content {
  font-size: $general-text-size;
  color: $general-color;
  line-height: 22px;
}

.header__vacancies {
  position: absolute;
  bottom: 145px;
  left: 131px;
  display: flex;
  width: 100%;
  z-index: 3;
}

.vacancies__wrapper {
  display: flex;
  width: 1018px;
  justify-content: space-between;
  place-items: center;
  flex-flow: row;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 58, 64, 0.2);
  padding: 16px 0;
}

.vacancies__adress {
  font-size: $head-text-size;
  color: $general-color;
  padding-left: 89px;
  line-height: 140%;
  letter-spacing: 0.7px;
  font-weight: bold;
}

.vacancies__btn{
  font-size: $head-text-size;
  color: #fff;
  background-color: #00AEC7;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 10px 47px;
  margin-right: 137px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: #00AEC7;
    background-color: #fff;
    border: 1px dotted #00AEC7;
    transition: 0.5s;
  }
}

.advantages {
  margin-top: -35px;
  padding: 0 5px;
}

.advantages__wrapper {
  flex-flow: column nowrap;
}

.advantages__discript {
  display: flex;
  flex-flow: row;
}

.discript__content-block {
  display: flex;
  flex-flow: column;
  width: 550px;
  padding: 130px 0 0 52px;
}

.content-block__text{
  font-size: $general-text-size;
  color:$general-color;
  line-height: 140%;
}

.content-block__head {
  font-size: $head-text-size;
  letter-spacing: 0.7px;
  margin: 22px 0 11px 0;

  .content-block__change-color {
    color: #00AEC7;
  }
}

.content-block__list {
  margin: 0;
  padding: 0;
}

.content-block__item {
  list-style-type: none;
  font-size: $general-text-size;
  color: $general-color;
  line-height: 140%;
}

@media (max-width: 1200px) {
  .header__vector {
    width: 550px;
  }
  .header__img {
    width: 500px;
  }
  .header__vacancies {
    left: 0;
    bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .vacancies__wrapper {
    width: 818px;
  }
}

@media (max-width: 1024px) {
  .header__about {
    padding-left: 26px;
    width: 325px;
  }
}

@media (max-width: 992px) {
  .header__about {
    padding-left: 26px;
    width: 290px;
  }
  .about__img {
    width: 100%;
  }
  .about__discript {
    padding-bottom: 10px;
  }
  .header__vector {
    width: 420px;
    height: 380px;
  }
  .header__img {
    width: 400px;
  }
  .header__vacancies {
    position: static;
  }
  .vacancies__wrapper {
    width: 718px;
  }
  .advantages {
    margin-top: 0;
  }
  .content-block__text{
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .header__about {
    padding-top: 50px;
    width: 200px;
  }
  .about__img {
    width: 200px;
  }
  .header__vector {
    width: 320px;
    height: 320px;
  }
  .header__img {
    width: 320px;
  }
  .header__vacancies {
    position: static;
  }
  .vacancies__wrapper {
    width: 518px;
    .vacancies__adress {
      font-size: 14px;
      padding-left: 45px;
    }
    .vacancies__btn {
      margin-right: 37px;
    }
  }
  .discript__img-block {
    min-width: 200px;
  }
}

@media (max-width: 576px) {
  .header__wrapper {
    flex-flow: column;
    justify-content: center;
  }
  .header__about {
    padding-top: 50px;
    width: 100%;
    justify-content: center;
    place-items: center;
  }
  .about__discript {
    width: 60%;
  }
  .about__img {
    width: 200px;
  }
  .header__vector {
    width: 265px;
    height: 263px;
    padding-left: 15px;
  }
  .header__img {
    width: 255px;
    height: 266px;
  }
  .header__vacancies {
    padding-top: 27px;
  }
  .vacancies__wrapper {
    width: 270px;
    flex-flow: column;
    justify-content: center;
    .vacancies__adress {
      font-size: 14px;
      padding: 12px 0 0 0;
    }
    .vacancies__btn {
      margin: 14px 0 18px 0;
      font-size: 16px;
      padding: 7px 36px;
    }
  }
  .advantages__wrapper {
    flex-flow: column;
    justify-content: center;
  }
  .advantages__discript {
    flex-flow: column;
    justify-content: center;
    padding: 43px 0 0 5px;
    .content-block__head {
      line-height: 29px;
      font-size: 22px;
    }
    .content-block__item {
      line-height: 20px;
    }
  }
  .discript__img-block {
    width: 100%;
    .discript__img {
        width: 254px;
    }
  }
  .discript__content-block {
    width: 90%;
    padding: 28px 10px;
  }
  
}

@media (max-width: 375px) {
  .header__about {
    padding: 35px 0 0 20px;
    place-items: flex-start;
  }
  .about__img{
    width: 145px;
    height: 46px;
  }
  .about__discript {
    width: 242px;
    padding-top: 10px;
    .about__content {
      font-size: $adaptive-text-size;
      line-height: 20px;
    }
  }
  .header__img-block {
    padding-right: 20px;
    justify-content: initial;
  }
  // .header__vector {
  //   width: 275px;
  //   height: auto;
  // }
  .header__img {
    right: 10px;
  }

}



